---
import '~/scss/global.scss';
import GtmHead from '~/components/analytics/GTM-head.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_IMAGE, SITE_KEYWORDS } from '~/consts';

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  keywords?: string[];
}

const {
  title,
  description = SITE_DESCRIPTION,
  image = SITE_IMAGE,
  keywords = SITE_KEYWORDS
} = Astro.props;

const htmlTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
const keywordsStr = keywords.join(', ');
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{htmlTitle}</title>

  <!-- SEO -->
  <meta name="robots" content="index, follow" />
  <meta name="title" content={title} />
  <meta name="author" content="Michal Ilyayev" />
  <meta name="description" content={description} />
  <meta name="keywords" content={keywordsStr} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Global Metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="x-ua-compatible" content="IE=Edge" />
  <meta name="generator" content={Astro.generator} />
  <meta name="language" content="en" />

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.json" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(image, Astro.url)} />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Permanent+Marker&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Google Analytics -->
  <GtmHead />
</head>
<body>
  <slot />
</body>
</html>
