---
import Layout from '~/layouts/Layout.astro';
import { Image } from 'astro:assets';

import ShieldsSlider from '~/components/shields-slider/ShieldsSlider.astro';
import SILogo from '~/components/SILogo.astro';

// shield images
import amongUsImg from '~/assets/si/shields/among-us.png';
import blueyImg from '~/assets/si/shields/bluey.png';
import incrediblesImg from '~/assets/si/shields/incredibles.png';
import marioImg from '~/assets/si/shields/mario.png';
import moanaImg from '~/assets/si/shields/moana.png';
import mulanImg from '~/assets/si/shields/mulan.png';
import powerPuffImg from '~/assets/si/shields/power-puff.png';
import rapunzelImg from '~/assets/si/shields/rapunzel.png';
import spiritedAwayImg from '~/assets/si/shields/spirited-away.png';
import wolfImg from '~/assets/si/shields/wolf.png';

import allShieldsImg from '~/assets/si/all.png';

import demoVideo from '~/assets/si/demo.mp4';
import globalNewsImg from '~/assets/si/global-news.svg';
---

<Layout title="Shield Initiative">

  <div class="relative min-h-[50dvh] py-24 bg-gradient-to-br from-sky-100 via-transparent  to-transparent">

    <div class="h-full page-container">
      <div class="h-full flex flex-col xl:flex-row items-center justify-around gap-16">
        <SILogo />

        <div class="prose xl:prose-lg max-w-[55ch]">
          <p>
            <span class="italic">The Shield Initiative</span> is a project dedicated to crafting custom-designed wooden
            shields for hospital IV
            poles, bringing comfort and joy to children undergoing medical treatment.
          </p>
          <p>
            Each shield is a unique work of art, designed to help creating a more positive hospital experience.
          </p>
          <p>
            Our goal is to continue making a difference through creativity, supporting children in need, and expanding
            the project to reach even more hospitals.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gradient-to-tr from-emerald-50 via-transparent to-transparent min-h-[50dvh]">
    <div class="page-container">


      <div class="flex flex-col xl:flex-row justify-between items-center py-24 gap-8">
        <div class="prose xl:prose-lg max-w-[55ch]">
          <h2 class="text-3xl font-light mb-8 font-handwriting text-gray-600">
            The Shield Initiative Club
          </h2>
          <p>
            We are a team of high school students who are passionate about making a difference in the lives of children
            undergoing medical treatment.
          </p>
          <p>
            We produce, paint and deliver custom-designed wooden platform (shaped like shields)
            shields that sit on the base of hospital IV poles, for pediatric patients.
          </p>
          <p>
            This gives our little heroes the freedom to move around, explore, and play, while receiving treatment.
          </p>
          <p>
            Our shields are inspired by kids movies and TV series, bringing a touch of magic and joy to the hospital
            environment.
          </p>
        </div>

        <div class="py-16 px-4">
          <video autoplay loop muted playsinline
            class="w-full h-full max-w-full p-0 m-0 object-cover object-center rounded-2xl drop-shadow-md">
            <source src={demoVideo} type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gradient-to-b from-sky-100 via-sky-50 to-transparent">
    <div class="page-container py-16">

      <div class="text-center">
        <h2 class="text-4xl font-handwriting text-sky-900 mb-6">The shields we created</h2>
        <p class="xl:text-lg text-gray-600">Shield designs are inspired by kids movies and TV series</p>
      </div>

      <div class="relative block">
        <ShieldsSlider options={{ speed: 300 }}>
          <div class="swiper-slide">
            <Image src={amongUsImg} height={700} alt="Among Us" />
            <p>Among Us</p>
          </div>

          <div class="swiper-slide">
            <Image src={blueyImg} height={700} alt="Bluey" />
            <p>Bluey</p>
          </div>

          <div class="swiper-slide">
            <Image src={incrediblesImg} height={700} alt="The Incredibles" />
            <p>The Incredibles</p>
          </div>

          <div class="swiper-slide">
            <Image src={marioImg} height={700} alt="Mario" />
            <p>Mario</p>
          </div>

          <div class="swiper-slide">
            <Image src={moanaImg} height={700} alt="Moana" />
            <p>Moana</p>
          </div>

          <div class="swiper-slide">
            <Image src={mulanImg} height={700} alt="Mulan" />
            <p>Mulan</p>
          </div>

          <div class="swiper-slide">
            <Image src={powerPuffImg} height={700} alt="The Powerpuff Girls" />
            <p>The Powerpuff Girls</p>
          </div>

          <div class="swiper-slide">
            <Image src={rapunzelImg} height={700} alt="Rapunzel" />
            <p>Rapunzel</p>
          </div>

          <div class="swiper-slide">
            <Image src={spiritedAwayImg} height={700} alt="Spirited Away" />
            <p>Spirited Away</p>
          </div>

          <div class="swiper-slide">
            <Image src={wolfImg} height={700} alt="Princess Mononoke" />
            <p>Princess Mononoke</p>
          </div>
        </ShieldsSlider>
      </div>
    </div>
  </div>

  <div class="bg-gradient-to-b from-transparent to-sky-100 pb-16">
    <div class="flex justify-center items-center">
      <div class="w-full max-w-[1200px] p-5">
        <Image src={allShieldsImg} width={1200} alt="All Shelds"
          class="w-full h-auto object-cover object-center mx-auto rounded-md shadow-md drop-shadow-md" />

        <p class="text-sm max-w-full my-6 mx-auto text-center px-2 lg:px-10">
          Credit: The shields in this picture were created by the Shield Initiative Club members
          at Westmount CI, under my leadership. It was a team effort, and each member contributed to the project!
          Unfortunately, due to privacy regulations, I can't publish their pictures,
          but it is important to mention that they all deserve the credit for their hard work.
        </p>
      </div>
    </div>
  </div>

  <div class="py-24">
    <div class="page-container">
      <div class="flex flex-col xl:flex-row items-center justify-between gap-12">
        <div>
          <h2 class="text-3xl font-light mb-8 font-handwriting text-gray-600">
            In the News
          </h2>
          <div class="max-w-full aspect-[670/372]">
            <iframe
              src="https://globalnews.ca/video/embed/5426927/"
              width="670"
              height="372"
              allowfullscreen
              allow="autoplay; fullscreen; picture-in-picture"
              title="Global News Video"
              class="w-full h-full rounded-md shadow-md drop-shadow-md border-0 overflow-hidden"
            ></iframe>
          </div>
          <div class="italic text-gray-600 text-sm p-2">
            Source:
            <a
              class="italic text-gray-600 text-sm underline hover:text-sky-600 hover:no-underline transition-all"
              href="https://globalnews.ca/news/5427319/shield-initiative-brings-fun-sick-kids/"
              target="_blank"
            >
              https://globalnews.ca/news/5427319/shield-initiative-brings-fun-sick-kids/
            </a>
          </div>
        </div>
        <div>
          <div class="p-8 border border-gray-200 rounded-xl bg-gray-50 max-w-[670px] xl:max-w-full my-auto">
            <a
              href="https://globalnews.ca/news/5427319/shield-initiative-brings-fun-sick-kids/"
              target="_blank"
            >
              <Image src={globalNewsImg} height={50} alt="Global News" />
            </a>
            <div class="prose prose-sm 2xl:prose italic mt-8">
              <h3>
                "The Shield Initiative" brings colour and fun to sick kids.
              </h3>
              <p>
                Students from Westmount Collegiate Institute in Thornhill have taken on a special project – create a
                board
                that fits under an IV pole for a child to sit on or to carry around their belongings.
              </p>
              <p>
                “My son was diagnosed with Leukemia in 2014,” said Shield Initiative founder Ilan Danjoux. “Once my son
                went through the process, one of the first things I wanted to do was give back to the many individuals
                and
                organizations that helped us.”
              </p>
              <p>
                The project known as the Shield Initiative gives children the freedom to move and explore whether at
                home or in hospital.
              </p>

              <p>
                <a
                  href="https://globalnews.ca/news/5427319/shield-initiative-brings-fun-sick-kids/"
                  target="_blank"
                >
                  Read more...
                </a>
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="py-24 relative">
    <div class="bg2">
      <div></div>
    </div>
    <div class="page-container">

        <div >
          <div class="prose mx-auto">
          <h2 class="text-3xl font-light mb-8 font-handwriting text-gray-600">My Role as the Club Leader</h2>
            <p>
              The Shield Initiative Club was originally founded by Ilan Danjoux to create custom-designed shields
              for hospital IV poles to bring comfort to children in healthcare environments.
              Over time, the club gained popularity, formed partnerships with several organizations,
              and hosted events both in and out of school.
            </p>
            <p>
              Unfortunately, the initiative faced setbacks during the COVID-19 pandemic, and leadership changes caused
              the club to lose momentum. When I learned about this, I felt strongly connected to the mission and decided
              to step up as a leader.
            </p>
            <p>
              After the previous leaders unexpectedly stepped down, I found myself rebuilding the club from scratch,
              with only half a year left and a small but passionate team of 12 students.
              Despite the challenges, we successfully produced 10 shields and established meaningful connections,
              including with Chai Lifeline, who were thrilled to receive our work.
            </p>

            <p>
              Today, my focus is on expanding the Shield Initiative Club, bringing in new members, and ensuring
              that future generations can continue this meaningful work.
              Following last year's success the club has grown to +60 members and also gained greater
              support from the school and from our partners.
            </p>
            <hr />
            <p>
              As the leader of the Shield Initiative Club, I am responsible for managing the team, organizing
              meetings, coordinating the shield-making process and working closely with our partners to
              deliver the shields to the children.
            </p>
            <p>
              I lead the team in brainstorming ideas, designing the shields, and painting them with precision and care.
            </p>
            <p>
              I also work on building partnerships with organizations like Sick Kids, Chai Lifeline,
              and OPACC (Ontario Parents Advocating for Children with Cancer) and promoting the club
              through social media and local news outlets.
            </p>
            <p>
              I am proud of the impact we've made so far, and I'm excited to continue expanding the project
              and reaching more children in need.
            </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
